html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 1.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark {
    background: #333333;
    color: white;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 30px;
    margin-left: 15px;
    transition: color 1.2s;
}

input[type="checkbox"].checkbox {
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4.5em;
    height: 1.3em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

input[type="checkbox"].checkbox:checked {
    background: rgb(27, 106, 253);
}

input[type="checkbox"].checkbox:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto 3px;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    left: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

input[type="checkbox"].checkbox:checked:after {
    left: calc(100% - 0.9em);
}